.interface .background {
	background: url(https://media1.giphy.com/media/3c5MQdwus9HabL2qBQ/giphy.gif?cid=790b7611c6623cb21eb49072adbc4d940bec27aab2009f03&rid=giphy.gif&ct=g) repeat !important;
	background-size: 1366px 768px;
	animation: animate 10s linear infinite !important;
}
